.new_ticket {
    margin-left: 80%;
}

li {
    list-style-type: none;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

button {
    border: 1px;
    border-radius: 20px;
    padding: 10px;
}

button#cancel_change_ticket, button#cancel_new_ticket, button#cancel_delete_ticket {
    margin-top: 5px;
    margin-bottom: 5px;
}


.check {
    width: 50px;
    height: 50px;
}

img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.modal_new_ticket {
    border: 2px solid #000000;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 40%;
    opacity: 100%;
    background: #ffffff;
}

.change_ticket {
    border: 2px solid #000000;
    width: 300px;

    margin: auto;
    text-align: center;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 40%;
    opacity: 100%;
    background: #ffffff;
}

.delete_ticket {
    border: 2px solid #000000;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 40%;
    opacity: 100%;
    background: #ffffff;
}

.hidden {
    display: none;
}